.searchContainer {
    margin-right: 10em;
    padding: 10px 0;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    /* width: 70%; */
}

.searchContainer button {
    display: none;
  }

.searchContainer button:hover {
    background: #ccc;
}

@media (max-width: 499px) {
    .searchContainer {
        margin-right: 10em;
        width: 100%;
    }
    
    input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 70%;
    }
    
    .searchContainer button {
        display: block;
        float: right;
        padding: 6px 8px;
        margin-top: 8px;
        margin-right: 16px;
    
    }
    .searchContainer button:hover {
        background: #ccc;
    }
}
