.Posts a{
    margin-top: 256px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    text-decoration: none;
    color: grey
}