.FullCategory {
    width: 80%;
    margin: 20px auto;
    padding-right: 10px;
    border-right: 7px dotted white;
    text-align: right;
}

.FullCategory h1 {
    color: #3a373b;
}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #92bed3;
    font-weight: 600;
}

.Edit button:hover,
.Edit button:active {
    color: #5f98b3;
    font-weight: 700;
}

.Edit button.Delete {
    color: #92bed3;
    font-weight: 600;

}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: #5f98b3;
    font-weight: 700;
}