.Button {
    border-radius: 1ch;
    text-align: center;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    margin-top: 2em;
    border: 1px solid #92bed3;
    background-color: #92bed3;
    width: 50%;

}

.DashboardSuccess {
    width: 30%;
    margin-top: 2em;
    border: 1px solid #27363b;
    background-color: #27363b;
}

.CommentSuccess {
    width: 20%;
    margin-top: 2em;
    border: 1px solid #27363b;
    background-color: #27363b;
}

.Danger {
    border: 1px solid #7E7174;
    background-color: #7E7174;
    width: 50%;
}

.DashboardDanger {
    width: 30%;
    border: 1px solid #75b2ad;
    background-color: #75b2ad;
}

.ForgotPassword {
    background-color: #27363b;
    color: white;
    width: 50%;
}