.Button {
    border-radius: 1ch;
    text-align: center;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    border: 1px solid #41b3a3;
    background-color: #41b3a3;
}

.Danger {
    border: 1px solid #e27d60;
    background-color: #e27d60;
}
