.Comment {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 8px;
    margin: 6px;
    width: 80%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}