.MainPage {
    width: 100%;
    background-color: #E5E5EC;    
}

.MainPage .Comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.MainPage .CategoryPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
