.Posts {
    margin-top: 256px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

/* .MainPage ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: gainsboro;
}

.MainPage li {
    display: inline-block;
    margin: 20px;
}

.MainPage a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
} */

/* .MainPage a:hover,
.MainPage a:active {
    color: black;
} */