.Dashboard {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Dashboard .Info {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
}

.Dashboard .Info img {
    width: 100px;
    height: 100px;
}

.Dashboard  .Info .UploadAvatar { 
    border-radius: 1ch;
    text-align: center;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    width: 30%;
    margin-top: 2em;
    border: 1px solid #27363b;
    background-color: #27363b;
}

.Dashboard .Content { 
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
}

.Dashboard .Content .questions {
    width: 100%;

}

.Dashboard .Content .answers {
    width: 100%;
}
