.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Dashboard .Info {
    background-color: whitesmoke;
}

.Dashboard .Info img {
    width: 100px;
    height: 100px;
}

.Dashboard  .Info .UploadAvatar { 
    border-radius: 1ch;
    text-align: center;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    width: 30%;
    margin-top: 2em;
    border: 1px solid #27363b;
    background-color: #27363b;
}

/* .Dashboard .Info #file-upload-button { 
    width: 30%;
    margin-top: 2em;
    border: 1px solid #27363b;
    background-color: #27363b;
} */

.Dashboard .Content { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Dashboard .Content .questions {
    border: 1px solid black;

}

.Dashboard .Content .answers {
    border: 1px solid black;

}
