.Footer {
    color: white;
    background-color: black;
    padding-top: 3em;
}

.Footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Footer li {
    margin: 20px;
}