.Post {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Post .Postblock {
    color: grey;
    border: 1px solid lightgray;
    margin: 8px;
    padding: 8px;
}

.Author {
    margin: 16px 0;
    color: black;
    font-weight: 600;
    flex-basis: 100%;
}