.Login {
    margin: 20px auto;
    width: 80%;
    height: 100%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: #3aafa9;
    border: 5px solid #2b7a78;
    border-radius: 25px;
    box-shadow: 0 12px 25px 5px rgba(0, 0, 0, .24), 0 20px 50px 0 rgba(0, 0, 0, .19);
}

.hr {
    height: 2px;
    margin: 30px 0 25px 0;
    background-color: rgba(255, 255, 255, .2);
}

.Login input {
    border-radius: 1ch;
    text-align: center;
}

.forgot a{
    font-size: large;
    text-decoration: none;
    color: white;
}

.ErrorMessage {
    border: 1px solid;
    margin: 10px auto;
    width: 80%;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.SuccessMessage {
    border: 1px solid;
    margin: 10px auto;
    width: 80%;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
	background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

@media (min-width: 600px) {
    .Login {
        width: 500px;
    }
}
