.ResetPassword {
    margin: 100px auto;
    color: #7E7174;
    width: 80%;
    height: 100%;
    text-align: center;
    /* box-shadow: 0 2px 3px #ccc; */
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    /* border: 5px solid #2b7a78; */
    border-radius: 25px;
    box-shadow: 0 12px 25px 5px rgba(0, 0, 0, .10), 0 20px 50px 0 rgba(0, 0, 0, .10);
}

.ResetPassword form input {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 1ch;
    /* text-align: center; */
}

.ErrorMessage {
    border: 1px solid;
    margin: 10px auto;
    width: 80%;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.SuccessMessage {
    border: 1px solid;
    margin: 10px auto;
    width: 80%;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
	background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

@media (min-width: 600px) {
    .ResetPassword {
        width: 500px;
    }
}
