/* .FullPost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background-color: whitesmoke;
    text-align: center;
} */

.container {
    display: flex;
    flex-direction: column;
}

.container textarea {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 2%;
}

.container .newComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.FullPost {
    background-color: whitesmoke;
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        padding: 16px;
        text-align: center;
        border: 1px solid #eee;
        box-shadow: 0 2px 3px #ccc;
        margin: 20px auto;
        box-sizing: border-box;
        cursor: pointer;
        align-items: center;
        justify-content: space-between; 
        font-size: medium ;
    }
    
    .FullPost .column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }
    
    .FullPost .column2 {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .FullPost .column2 input {
        border: none;
        display: inline;
        font-family: inherit;
        font-size: inherit;
        padding: none;
        width: auto;
        font-weight: 600;
        background-color: whitesmoke;
    }
    
    .FullPost .column2 .content {
        align-self: stretch;
    }
    
    .FullPost .column2 .column3 {
        flex: 1 1 auto;
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: flex-end;
    }

    .FullPost .column2 .column3 img {
        width: 50px;
        height: 50px;
    }
    
    
    .Edit label {
        display: block;
        color: grey;
    }
    
    .Edit button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        color: #fa923f;
    }
    
    .Edit button:hover,
    .Edit button:active {
        color: #521751;
    }
    
    .Edit button.Delete {
        color: red;
    }
    
    .Edit button.Delete:hover,
    .Edit button.Delete:active {
        color: darkred;
    }
    
    .Postblock1 {
        color: grey;
        border: 1px solid lightgray;
        margin: 8px;
        padding: 8px;
    }
    
    .Postblock2 {
        color: grey;
        margin: 8px;
        padding: 8px;
    }
    
    .arrowUp {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;   
        border-bottom: 20px solid lightgray;
        margin-bottom: 10px;
    }
    
    .arrowDown {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid lightgray;
        margin-top: 10px;
    }
    